## Capstone Project 1 - Jovita Gandhi
-   Spotify's One Million Dataset to build a reccomendation System

In [4]:
#importing necesary packaged
import json
import pandas as pd

from ari import ari_to_features
import pandas as pd
from tqdm import tqdm
import re

In [5]:
#Loading the first json file, with the forst 1000 playlist into a variable
with open('Data/spotify_million_playlist_dataset/Main_data/mpd.slice.0-999.json') as f:
    data = json.load(f)

In [6]:
#running a loop to save it all into one dataframe
# Create an empty list to store the flattened playlists
flattened_playlists = []

# Iterate over each playlist
for playlist in data['playlists']:

    # Iterate over each track in the playlist
    for track in playlist['tracks']:

        # Create a new dictionary to store the flattened data
        flattened_data = {}

        # Add the playlist-level data to the flattened dictionary
        flattened_data['pid'] = playlist['pid']
        flattened_data['name'] = playlist['name']
        flattened_data['collaborative'] = playlist['collaborative']
        flattened_data['modified_at'] = playlist['modified_at']
        flattened_data['num_tracks'] = playlist['num_tracks']
        flattened_data['num_albums'] = playlist['num_albums']
        flattened_data['num_followers'] = playlist['num_followers']

        # Add the track-level data to the flattened dictionary
        flattened_data['pos'] = track['pos']
        flattened_data['artist_name'] = track['artist_name']
        flattened_data['track_uri'] = track['track_uri']
        flattened_data['artist_uri'] = track['artist_uri']
        flattened_data['track_name'] = track['track_name']
        flattened_data['album_uri'] = track['album_uri']
        flattened_data['duration_ms'] = track['duration_ms']
        flattened_data['album_name'] = track['album_name']

        # Add the flattened data to the list
        flattened_playlists.append(flattened_data)

# Create a DataFrame from the flattened list of playlists
df = pd.DataFrame(flattened_playlists)

In [7]:
#Calling the df
df.head()

,pid,name,collaborative,modified_at,num_tracks,num_albums,num_followers,pos,artist_name,track_uri,artist_uri,track_name,album_uri,duration_ms,album_name
0,0,Throwbacks,false,1493424000,52,47,1,0,Missy Elliott,spotify:track:0UaMYEvWZi0ZqiDOoHU3YI,spotify:artist:2wIVse2owClT7go1WT98tk,Lose Control (feat. Ciara & Fat Man Scoop),spotify:album:6vV5UrXcfyQD1wu4Qo2I9K,226863,The Cookbook
1,0,Throwbacks,false,1493424000,52,47,1,1,Britney Spears,spotify:track:6I9VzXrHxO9rA9A5euc8Ak,spotify:artist:26dSoYclwsYLMAKD3tpOr4,Toxic,spotify:album:0z7pVBGOD7HCIB7S8eLkLI,198800,In The Zone
2,0,Throwbacks,false,1493424000,52,47,1,2,Beyoncé,spotify:track:0WqIKmW4BTrj3eJFmnCKMv,spotify:artist:6vWDO969PvNqNYHIOW5v0m,Crazy In Love,spotify:album:25hVFAxTlDvXbx2X2QkUkE,235933,Dangerously In Love (Alben für die Ewigkeit)
3,0,Throwbacks,false,1493424000,52,47,1,3,Justin Timberlake,spotify:track:1AWQoqb9bSvzTjaLralEkT,spotify:artist:31TPClRtHm23RisEBtV3X7,Rock Your Body,spotify:album:6QPkyl04rXwTGlGlcYaRoW,267266,Justified
4,0,Throwbacks,false,1493424000,52,47,1,4,Shaggy,spotify:track:1lzr43nnXAijIGYnCT8M8H,spotify:artist:5EvFsr3kj42KNv97ZEnqij,It Wasn't Me,spotify:album:6NmFmPX56pcLBOFMhIiKvF,227600,Hot Shot

In [16]:
df[['artist_name','track_name','name']]

,artist_name,track_name,name
0,Missy Elliott,Lose Control (feat. Ciara & Fat Man Scoop),Throwbacks
1,Britney Spears,Toxic,Throwbacks
2,Beyoncé,Crazy In Love,Throwbacks
3,Justin Timberlake,Rock Your Body,Throwbacks
4,Shaggy,It Wasn't Me,Throwbacks
...,...,...,...
67498,James Arthur,Say You Won't Let Go,thinking of you
67499,Big Words,The Answer,thinking of you
67500,Allan Rayman,25.22,thinking of you
67501,Jon Jason,Good Feeling,thinking of you
67502,Grizfolk,Cosmic Angel - Acoustic From Capitol Studios,thinking of you

In [10]:
def drop_duplicates(df):
    '''
    Drop duplicate songs
    '''
    df['artists_song'] = df.apply(lambda row: row['artist_name']+row['track_name'],axis = 1)
    return df.drop_duplicates('artists_song')

songDF = drop_duplicates(df)
print("Are all songs unique: ",len(pd.unique(songDF.artists_song))==len(songDF))

Are all songs unique:  True

In [18]:
print("Are all songs unique: ",len(pd.unique(df.track_name))==len(df))

Are all songs unique:  False

In [19]:
df.columns

Index(['pid', 'name', 'collaborative', 'modified_at', 'num_tracks',
       'num_albums', 'num_followers', 'pos', 'artist_name', 'track_uri',
       'artist_uri', 'track_name', 'album_uri', 'duration_ms', 'album_name'],
      dtype='object')

In [20]:
df.dtypes

pid               int64
name             object
collaborative    object
modified_at       int64
num_tracks        int64
num_albums        int64
num_followers     int64
pos               int64
artist_name      object
track_uri        object
artist_uri       object
track_name       object
album_uri        object
duration_ms       int64
album_name       object
dtype: object

In [21]:
#label encoding all categorical variables first
#storing all the "objects" in a new list
colname = []
for x in df.columns:
    if df[x].dtype == 'object':
        colname.append(x)
colname

['name',
 'collaborative',
 'artist_name',
 'track_uri',
 'artist_uri',
 'track_name',
 'album_uri',
 'album_name']

In [52]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for x in colname:
    df[x]= le.fit_transform(df[x])
    le_name_mapping = dict(zip(le.classes_,le.transform(le.classes_)))
    print("feature", x)
    print("mapping", le_name_mapping)

In [25]:
df.head()

,pid,name,collaborative,modified_at,num_tracks,num_albums,num_followers,pos,artist_name,track_uri,artist_uri,track_name,album_uri,duration_ms,album_name
0,0,511,0,1493424000,52,47,1,0,5800,2208,3705,15296,17081,226863,14118
1,0,511,0,1493424000,52,47,1,1,1180,27708,2689,26492,2410,198800,7132
2,0,511,0,1493424000,52,47,1,2,871,2382,8670,5368,5123,235933,3508
3,0,511,0,1493424000,52,47,1,3,4415,5176,3828,20812,15842,267266,7577
4,0,511,0,1493424000,52,47,1,4,7391,7783,6587,13071,15736,227600,6562

In [26]:
#now making the matrix
iimatrix = pd.DataFrame(index=df.track_uri.unique(), columns=df.columns[6:])

In [28]:
for track_uri in iimatrix.index:
    iimatrix.loc[track_uri] = df[df['track_uri'] == track_uri].iloc[:, 6:].mean().values

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
# Calculate cosine similarity between all pairs of songs
cos_sim_matrix = cosine_similarity(iimatrix)

In [32]:
print(cos_sim_matrix)

[[1.         0.98730018 0.99605172 ... 0.9951506  0.99397371 0.99407133]
 [0.98730018 1.         0.98545824 ... 0.98772843 0.99500212 0.99077997]
 [0.99605172 0.98545824 1.         ... 0.99697883 0.99529111 0.99544321]
 ...
 [0.9951506  0.98772843 0.99697883 ... 1.         0.99752131 0.99774638]
 [0.99397371 0.99500212 0.99529111 ... 0.99752131 1.         0.9986526 ]
 [0.99407133 0.99077997 0.99544321 ... 0.99774638 0.9986526  1.        ]]

In [33]:
# Convert the cosine similarity matrix into a Pandas DataFrame
cos_sim_df = pd.DataFrame(cos_sim_matrix, index=iimatrix.index, columns=iimatrix.index)

In [35]:
cos_sim_df.head()

,2208,27708,2382,5176,7783,2436,27043,13942,32179,10584,...,27246,30106,1487,20409,7857,17135,1834,12301,19501,23901
2208,1.000000,0.987300,0.996052,0.999167,0.998986,0.995354,0.990886,0.996907,0.992380,0.997321,...,0.990855,0.990412,0.999212,0.994230,0.997343,0.995581,0.998412,0.995151,0.993974,0.994071
27708,0.987300,1.000000,0.985458,0.990401,0.989818,0.991020,0.997460,0.988308,0.998147,0.991585,...,0.990495,0.997982,0.988356,0.993199,0.987694,0.995505,0.989822,0.987728,0.995002,0.990780
2382,0.996052,0.985458,1.000000,0.997336,0.997471,0.994687,0.991547,0.996656,0.991423,0.997610,...,0.994348,0.984862,0.993982,0.996323,0.998707,0.994784,0.996444,0.996979,0.995291,0.995443
5176,0.999167,0.990401,0.997336,1.000000,0.999405,0.997640,0.993604,0.996573,0.993963,0.997782,...,0.992804,0.991464,0.998217,0.996080,0.998346,0.996152,0.999645,0.994858,0.995540,0.995374
7783,0.998986,0.989818,0.997471,0.999405,1.000000,0.995886,0.994443,0.998588,0.994190,0.997861,...,0.994952,0.991619,0.997115,0.997640,0.998681,0.997061,0.998143,0.996508,0.996991,0.997299

In [45]:
# Define a function to get recommendations for a playlist based on cosine similarity
def get_reccs(pid, n=10):
    # Get the cosine similarity scores for the input playlist
    sim_scores = cos_sim_df.loc[pid]
    
    # Get the indices of the playlists with the highest similarity scores
    top_playlists = sim_scores.nlargest(n+1).index[1:]
    
    # Get the track URIs for the top playlists
    track_uris = df[df['pid'].isin(top_playlists)]['track_uri']
    
    # Get the track details for the recommended tracks
    rec_songs = df[df['track_uri'].isin(track_uris)].drop_duplicates('track_uri')[['track_uri', 'track_name', 'artist_name']]
    
    
    return rec_songs

In [46]:
get_reccs(1,10)

       track_uri  track_name  artist_name
9          10584       10724         6343
61         10835       25463         4956
63         19622         997         4956
64         20330       17212         5027
325        26014       19499         9391
...          ...         ...          ...
42019      29692       22774         6467
42020      10551       15613         6467
42025        241        6974         8335
42027       3878        6974         8335
42029       4097       11316         8335

[188 rows x 3 columns]

In [51]:
# Get recommendations for playlist ID 1
recs = get_reccs(1, 10)

# Inverse transform the track URI column
recs_uris = le.inverse_transform(recs['track_uri'].values)
recs_artists = le.inverse_transform(recs['artist_name'].values)
recs_album = le.inverse_transform(recs['album_name'].values)

# Combine the inverse transformed track URIs with the other columns
recs1 = pd.DataFrame({'track_name': recs_uris, 'artist_name': recs_artists, 'album_name': recs_album})

# Print the recommendations
print(recs1)

ValueError: y contains previously unseen labels: [17457 17570 17669 17683 18321 18583 18751 18840 18854 18873 18957 19365
 19438 19565 19622 19925 19964 20218 20330 20362 20391 20640 21097 21104
 21316 21998 22301 22398 22546 22820 22912 22975 23273 23417 23484 23660
 23802 23918 24101 24280 25262 25893 26014 26152 26321 26650 26928 27098
 27271 27319 28152 28674 28729 29078 29340 29548 29606 29692 29728 29950
 30092 30117 30119 30136 30256 30787 30942 31064 31176 31585 31648 31893
 32007 32011 32421 32584 32615 32631 32746 33133 33232 33399 33431 33760
 34017]

In [60]:
df[['artist_name','track_name','name']]

,artist_name,track_name,name
0,Missy Elliott,Lose Control (feat. Ciara & Fat Man Scoop),Throwbacks
1,Britney Spears,Toxic,Throwbacks
2,Beyoncé,Crazy In Love,Throwbacks
3,Justin Timberlake,Rock Your Body,Throwbacks
4,Shaggy,It Wasn't Me,Throwbacks
...,...,...,...
67498,James Arthur,Say You Won't Let Go,thinking of you
67499,Big Words,The Answer,thinking of you
67500,Allan Rayman,25.22,thinking of you
67501,Jon Jason,Good Feeling,thinking of you
67502,Grizfolk,Cosmic Angel - Acoustic From Capitol Studios,thinking of you

In [68]:
df["track_uri"] = df["track_uri"].apply(lambda x: re.findall(r'\w+$', x)[0])
df["track_uri"]

0        0UaMYEvWZi0ZqiDOoHU3YI
1        6I9VzXrHxO9rA9A5euc8Ak
2        0WqIKmW4BTrj3eJFmnCKMv
3        1AWQoqb9bSvzTjaLralEkT
4        1lzr43nnXAijIGYnCT8M8H
                  ...
67498    5uCax9HTNlzGybIStD3vDh
67499    0P1oO2gREMYUCoOkzYAyFu
67500    2oM4BuruDnEvk59IvIXCwn
67501    4Ri5TTUgjM96tbQZd5Ua7V
67502    5RVuBrXVLptAEbGJdSDzL5
Name: track_uri, Length: 67503, dtype: object

In [69]:
#Test the feature extraction script, and display features
ari_to_features(df["track_uri"][0])

{'danceability': 0.904,
 'energy': 0.813,
 'key': 4,
 'loudness': -7.105,
 'mode': 0,
 'speechiness': 0.121,
 'acousticness': 0.0311,
 'instrumentalness': 0.00697,
 'liveness': 0.0471,
 'valence': 0.81,
 'tempo': 125.461,
 'type': 'audio_features',
 'id': '0UaMYEvWZi0ZqiDOoHU3YI',
 'uri': 'spotify:track:0UaMYEvWZi0ZqiDOoHU3YI',
 'track_href': 'https://api.spotify.com/v1/tracks/0UaMYEvWZi0ZqiDOoHU3YI',
 'analysis_url': 'https://api.spotify.com/v1/audio-analysis/0UaMYEvWZi0ZqiDOoHU3YI',
 'duration_ms': 226864,
 'time_signature': 4,
 'artist_pop': 73,
 'genres': 'dance_pop hip_hop hip_pop neo_soul pop_rap r&b rap urban_contemporary virginia_hip_hop',
 'track_pop': 69}

In [70]:
first_half = df["track_uri"].unique()[:10000]
second_half = df["track_uri"].unique()[10000:20000]
third_half = df["track_uri"].unique()[20000:]
dataLIST = [first_half,second_half,third_half]

In [71]:
dataLIST

[array(['0UaMYEvWZi0ZqiDOoHU3YI', '6I9VzXrHxO9rA9A5euc8Ak',
        '0WqIKmW4BTrj3eJFmnCKMv', ..., '2myYajO2Ip0zxKaXvm5YRL',
        '0rLTNDbFgjAKPNPoHMQwn6', '70Vdd1gx5tn84jkAU31ASv'], dtype=object),
 array(['3hm9Df6fGtYVPicuJulXyN', '3C0nOe05EIt1390bVABLyN',
        '5aJhuze13LOoLthmiG8YIA', ..., '0rQ3mUWKxXjN9YfnzuvrLU',
        '2d7LPtieXdIYzf7yHPooWd', '1uVk6S6Fpkrmji0iTpgKEC'], dtype=object),
 array(['0nRuVPZx2iA3KWR4xSzryl', '79mcGEMaA6PmSQdQM6r4pt',
        '48YPDmhRIQRiusm5uCz5gX', ..., '2oM4BuruDnEvk59IvIXCwn',
        '4Ri5TTUgjM96tbQZd5Ua7V', '5RVuBrXVLptAEbGJdSDzL5'], dtype=object)]

In [72]:
featureLIST = []

for i in tqdm([uri for uri in dataLIST[0]]):
    try:
        featureLIST.append(ari_to_features(i))
    except:
        continue

  8%|▊         | 764/10000 [10:07<2:04:50,  1.23it/s]