In [1]:
#importing necesary packaged
import json
import pandas as pd

from ari import ari_to_features
import pandas as pd
from tqdm import tqdm
import re

### importing the first 1000 playlists in to a variable called json

In [2]:
#Loading the first json file, with the forst 1000 playlist into a variable
with open('/Users/jovitagandhi/Python - In class/Capstone 1 - Spotify recommendation system/mpd.slice.0-999.json') as f:
    data = json.load(f)

### Now flatenning it all into a dataframe
- To do this, we run a for aloop thorugh the entire json file, and use every playlist level information and song level information to the dataframe, in one row

In [3]:
#running a loop to save it all into one dataframe
# Create an empty list to store the flattened playlists
flattened_playlists = []

# Iterate over each playlist
for playlist in data['playlists']:

    # Iterate over each track in the playlist
    for track in playlist['tracks']:

        # Create a new dictionary to store the flattened data
        flattened_data = {}

        # Add the playlist-level data to the flattened dictionary
        flattened_data['pid'] = playlist['pid']
        flattened_data['name'] = playlist['name']
        flattened_data['collaborative'] = playlist['collaborative']
        flattened_data['modified_at'] = playlist['modified_at']
        flattened_data['num_tracks'] = playlist['num_tracks']
        flattened_data['num_albums'] = playlist['num_albums']
        flattened_data['num_followers'] = playlist['num_followers']

        # Add the track-level data to the flattened dictionary
        flattened_data['pos'] = track['pos']
        flattened_data['artist_name'] = track['artist_name']
        flattened_data['track_uri'] = track['track_uri']
        flattened_data['artist_uri'] = track['artist_uri']
        flattened_data['track_name'] = track['track_name']
        flattened_data['album_uri'] = track['album_uri']
        flattened_data['duration_ms'] = track['duration_ms']
        flattened_data['album_name'] = track['album_name']

        # Add the flattened data to the list
        flattened_playlists.append(flattened_data)

# Create a DataFrame from the flattened list of playlists
df = pd.DataFrame(flattened_playlists)

### now that we stored everything into one data frame, we check the shape, if there are any null values, and if there any duplicates

In [4]:
df.head()

,pid,name,collaborative,modified_at,num_tracks,num_albums,num_followers,pos,artist_name,track_uri,artist_uri,track_name,album_uri,duration_ms,album_name
0,0,Throwbacks,false,1493424000,52,47,1,0,Missy Elliott,spotify:track:0UaMYEvWZi0ZqiDOoHU3YI,spotify:artist:2wIVse2owClT7go1WT98tk,Lose Control (feat. Ciara & Fat Man Scoop),spotify:album:6vV5UrXcfyQD1wu4Qo2I9K,226863,The Cookbook
1,0,Throwbacks,false,1493424000,52,47,1,1,Britney Spears,spotify:track:6I9VzXrHxO9rA9A5euc8Ak,spotify:artist:26dSoYclwsYLMAKD3tpOr4,Toxic,spotify:album:0z7pVBGOD7HCIB7S8eLkLI,198800,In The Zone
2,0,Throwbacks,false,1493424000,52,47,1,2,Beyoncé,spotify:track:0WqIKmW4BTrj3eJFmnCKMv,spotify:artist:6vWDO969PvNqNYHIOW5v0m,Crazy In Love,spotify:album:25hVFAxTlDvXbx2X2QkUkE,235933,Dangerously In Love (Alben für die Ewigkeit)
3,0,Throwbacks,false,1493424000,52,47,1,3,Justin Timberlake,spotify:track:1AWQoqb9bSvzTjaLralEkT,spotify:artist:31TPClRtHm23RisEBtV3X7,Rock Your Body,spotify:album:6QPkyl04rXwTGlGlcYaRoW,267266,Justified
4,0,Throwbacks,false,1493424000,52,47,1,4,Shaggy,spotify:track:1lzr43nnXAijIGYnCT8M8H,spotify:artist:5EvFsr3kj42KNv97ZEnqij,It Wasn't Me,spotify:album:6NmFmPX56pcLBOFMhIiKvF,227600,Hot Shot

In [5]:
df.isnull().sum()

pid              0
name             0
collaborative    0
modified_at      0
num_tracks       0
num_albums       0
num_followers    0
pos              0
artist_name      0
track_uri        0
artist_uri       0
track_name       0
album_uri        0
duration_ms      0
album_name       0
dtype: int64

In [6]:
df.shape

(67503, 15)

In [7]:
df.dtypes

pid               int64
name             object
collaborative    object
modified_at       int64
num_tracks        int64
num_albums        int64
num_followers     int64
pos               int64
artist_name      object
track_uri        object
artist_uri       object
track_name       object
album_uri        object
duration_ms       int64
album_name       object
dtype: object

In [8]:
df.describe()

,pid,modified_at,num_tracks,num_albums,num_followers,pos,duration_ms
count,67503.000000,6.750300e+04,67503.000000,67503.000000,67503.000000,67503.000000,6.750300e+04
mean,508.371317,1.481839e+09,112.276447,81.050887,3.006829,55.638223,2.331839e+05
std,286.288365,3.476186e+07,63.771477,49.287440,35.920805,49.051327,6.455234e+04
min,0.000000,1.322611e+09,5.000000,2.000000,1.000000,0.000000,0.000000e+00
25%,262.000000,1.469232e+09,57.000000,40.500000,1.000000,17.000000,1.984130e+05
50%,505.000000,1.496448e+09,104.000000,73.000000,1.000000,41.000000,2.248660e+05
75%,752.000000,1.507075e+09,159.000000,115.000000,2.000000,82.000000,2.580400e+05
max,999.000000,1.509494e+09,245.000000,225.000000,1038.000000,244.000000,2.424189e+06

### Since we 67503 songs, we stick to using only 1 of the 100 json files provided, die to lack of computational power

#### - Using spotify's API, we extract information about each song. The fucntion to do this has been made in ari.py.
- To do this, we need to change the "track_uri"'s column into a readble format, so we remove the "spotify:track"

In [9]:
#first we extract 
df["track_uri"] = df["track_uri"].apply(lambda x: re.findall(r'\w+$', x)[0])
df["track_uri"]

0        0UaMYEvWZi0ZqiDOoHU3YI
1        6I9VzXrHxO9rA9A5euc8Ak
2        0WqIKmW4BTrj3eJFmnCKMv
3        1AWQoqb9bSvzTjaLralEkT
4        1lzr43nnXAijIGYnCT8M8H
                  ...
67498    5uCax9HTNlzGybIStD3vDh
67499    0P1oO2gREMYUCoOkzYAyFu
67500    2oM4BuruDnEvk59IvIXCwn
67501    4Ri5TTUgjM96tbQZd5Ua7V
67502    5RVuBrXVLptAEbGJdSDzL5
Name: track_uri, Length: 67503, dtype: object

In [ ]:
#as an example, we first test:
#Test the feature extraction script, and display features
ari_to_features(df["track_uri"][1275])

### now that it's in a legible format, we can extract features about each song, add to this which features

#as an example, we first test:
#Test the feature extraction script, and display features
ari_to_features(df["track_uri"][0])

### We will run the code for each track to get these features, and do this by first splitting the data into three different sections,a dn store it back into a dataframe, we split it on the basis of the track_uri, because that's what we're looking for to use to add the features

In [ ]:
first_half = df["track_uri"].unique()[:10]
#econd_half = df["track_uri"].unique()[10000:20000]
#third_half = df["track_uri"].unique()[20000:]
dataLIST = [first_half]

In [ ]:
import time

featureLIST = []

for i in tqdm([uri for uri in dataLIST[0]]):
    try:
        start_time = time.time()
        feature = ari_to_features(i)
        elapsed_time = time.time() - start_time
        
        if elapsed_time > 5:
            print(f"Skipping track {i}: elapsed time = {elapsed_time:.2f} seconds")
            continue
        
        featureLIST.append(feature)
    except:
        continue

## Now we actually run the code for each of the songs, and add all the features to each song and store it into a new dataframe, df1

In [ ]:
#featureDF = pd.DataFrame(featureLIST)
#featureDF

## Finalising and Export

We finally merge the feature DataFrame with the original dataset, as this also contains useful information in the artist name and track name. This is then exported, as our processed data.

In [ ]:
#new_df = pd.merge(testDF,featureDF, left_on = "track_uri", right_on= "id")